<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
        type="text/css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <title>my ecommerce</title>
</head>

<body>
    <div class="head sticky-top" id="nav">
        <div class="row head-row">
            <!-----mobile header display---------------->
            <div class="navbar-header container">
           <div class="title left d-block d-md-none"><h1>MYBIZ</h1></div>
           <div class="right my-2 my-lg-0 d-block d-md-none">
               <i href="#" class="far fa-user"></i>
                 
                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/cart.jpg' %}" alt="">
                </a> 

                <!--card total
                <p id="cart-total">0</p> -->
              </div>  
           </div>

        <div class="title col-sm-4 d-none d-md-block"><h1>MYBIZ</h1></div>
        <!--------------------Search Our Site ------------------------>
        <div class="col-12 col-sm-4 my-auto py-1 py-lg-0 Search-icon">
                  <form method="GET" action="#">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
              </div>
            <!-------------------link to login page and cart-trolley page ------------------------>
                <div class="col-sm-4 form-inline my-2 my-lg-0 login-page">
                    <a href="#" class="btn btn-warning">Login</a>
                    
                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/cart.jpg' %}" alt="">
                </a> 
                <!--card total-->
                <p id="cart-total">0</p>
                </div>
        </div>
    
    <!-------------------navbar---------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'stores' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cars</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Households
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="Kitchen Utensils"></a>
                        <a class="dropdown-item" href="#">Carpets</a>
                        <a class="dropdown-item" href="#">Chairs</a>
                        <a class="dropdown-item" href="#">Tables</a>
                        <a class="dropdown-item" href="#">Beds</a>
                        <a class="dropdown-item" href="#">Fridges</a>
                        <a class="dropdown-item" href="#">Microwaves</a>
                        <a class="dropdown-item" href="#"></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">All Household</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Electronics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Televisions</a>
                        <a class="dropdown-item" href="#">Radios</a>
                        <a class="dropdown-item" href="#">Phones</a>
                        <a class="dropdown-item" href="#">Labtops</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">All Electronics</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Bikes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Bicycles</a>
                        <a class="dropdown-item" href="#">Moter Bikes</a>
                        <a class="dropdown-item" href="#">All Bikes</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Others</a>
                </li>
            </ul>
             <!--------------------Search Our Site --------------------
              <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                  <form method="GET" action="">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
              </div>-------->
            <!-----------------link to login page and cart-trolley page----------------
            
            <div class="form-inline my-2 my-lg-0">
                <a href="#" class="btn btn-warning">Login</a>

                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/cart.jpg' %}" alt="">
                </a>
                <card total-
                <p id="cart-total">0</p>
            </div>  --------->       
        </div>
    </nav>

    </div>
  
    <!---------------------image----------------------------------->
{% block image %}
<div class="img-container d-none d-md-block">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-5 mb-auto">
                <h1 class="display-6 logo-font text-dark d-none d-md-block">
                    CHECK OUT THESE COLLECTIONS
                </h1>
                <div>
                    <h4 class="my-5">
                        <a href="#" class="shop-now-button btn btn-warning rounded-0 text-uppercase py3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------image galary ---------------------------------------------------------->
<h1 class="display-6 logo-font text-dark text-center my-2">OUR COLLECTIONS</h1>
<div class="container-fluid">
<div class="row">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/images/car.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Cars Collections</h5>
    <a href="#" class="btn btn-outline-secondary">More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/images/chairs.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Chairs Collection</h5>
    <a href="#" class="btn btn-outline-secondary">More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/images/tables.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tables Collection</h5>
    <a href="#" class="btn btn-outline-secondary">More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/images/refrigerators.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Refrigerators Collections</h5>
    <a href="#" class="btn btn-outline-secondary">More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>

{% endblock %}
    <!-------------------------contents ---------------------------------------------------------->
    
    <div class="container upper-section">
        {% block content %}

        {% endblock %}
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>